app_create.c: OK!
app_destroy.c: OK!
app_reset_exec.c: OK!
astr.c: OK!
astr.h: OK!
astr1.c: OK!
cmdarr.c: OK!
dequoter.c: OK!
env.c: OK!
env1.c: OK!
env2.c: OK!
exec_builder.c: OK!
exec_builder1.c: OK!
exec_handle_redir.c: OK!
exec_plan.c: OK!
expand_last_err.c: OK!
expansion.c: OK!
expansion_utils.c: OK!
get_next_line.c: OK!
get_next_line.h: OK!
get_next_line_utils.c: OK!
heredoc.c: OK!
heredoc_bad_good_heredoc.c: OK!
heredoc_expand_prompt.c: OK!
heredoc_get_file_name.c: OK!
heredoc_input.c: OK!
heredoc_input1.c: OK!
heredoc_open_write.c: OK!
main.c: OK!
minishell.h: OK!
Notice: GLOBAL_VAR_DETECTED  (line:  36, col:   1):	Global variable present in file. Make sure it is a reasonable choice.
prompt.c: OK!
syntax_checker.c: OK!
token.c: OK!
token_list.c: OK!
token_list2.c: OK!
token_resplit.c: OK!
token_resplit1.c: OK!
tokenizer.c: OK!
tokenizer1.c: OK!
utils.c: OK!
utils.h: OK!
utils2.c: OK!
utils3.c: OK!
builtin_cd.c: OK!
builtin_echo.c: OK!
builtin_env.c: OK!
builtin_exit.c: OK!
builtin_export.c: OK!
builtin_pwd.c: OK!
builtin_unset.c: OK!
builtins_utils.h: OK!
builtins_utils1.c: OK!
builtins_utils2.c: OK!
builtins_utils3.c: OK!
builtins_utils4.c: OK!
builtins_utils5.c: OK!
builtins_utils6.c: OK!
builtins_utils7.c: OK!
builtins_utils8.c: OK!
env_helpers.c: OK!
builtins_utils9.c: OK!
command_path.c: OK!
execution_env.c: OK!
execution_exec.c: OK!
execution_resources.c: OK!
execution_utils.c: OK!
execution_utils.h: OK!
execution_utils2.c: OK!
execution_utils3.c: OK!
execution_utils4.c: OK!
execution_utils5.c: OK!
execution_wait.c: OK!
executor.c: OK!
executor_helpers.c: OK!
redirection.c: OK!
signals.c: OK!
Notice: GLOBAL_VAR_DETECTED  (line:  19, col:   1):	Global variable present in file. Make sure it is a reasonable choice.
signals1.c: OK!
